.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.invalid-password {
  color: red;
}

.valid-password {
  color: green;
}

.myBar {
  height: 30px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 30px;
  color: white;
}
