.session {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 25px;
  border-radius: 15px;
  background-color: #f7f7f7;
}

.registration {
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 45px;
  border-radius: 15px;
  background-color: #f7f7f7;
}

.links {
  font-size: 13px;
}
