<h1>Тест: "<%= @test.title %>"</h1>
<hr />
<div class='heading'>Список вопросов:</div>
<ol>
  <%= render @test.questions %>
</ol>
<p><%= link_to 'Назад', admin_tests_path(@test) %> |
<%= link_to 'Создать новый вопрос', new_admin_test_question_path(@test)  %></p>
<br />
