<br />
<hr />
<p>Проект: <%= github_url('Maks-well-88', 'TestGuru') %>,
  автор: Maks-well-88, <%= current_year %> год.<br />
  Перед вами простое приложение, предназначенное для персонального тестирования. В нем можно создавать<br />
  и редактировать тесты, проходить их, а результаты выкладывать в своей социальной сети.<br />
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: '_blank', class: "text-decoration-none" %>.
</p>
